<div class="top-bar-container" data-sticky-container>
  <div
    class="sticky sticky-topbar"
    data-sticky
    data-options="anchor: page; marginTop: 0; stickyOn: small;"
  >
    <div class="top-bar linetopbar">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li class="menu-text"><span style="color:#53B59F">There</span></li>
          <li class="has-submenu">
            <a href="#">One</a>
            <ul class="submenu menu vertical" data-submenu>
              <li><a href="#">One</a></li>
              <li><a href="#">Two</a></li>
              <li><a href="#">Three</a></li>
            </ul>
          </li>
          <li><a href="#">Two</a></li>
          <li><a href="#">Three</a></li>
        </ul>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
            <li><a href="#">One</a></li>
            <li><a href="#">Two</a></li>
            <li><a href="#">Three</a></li>
          <li><button type="button" class="button">Search</button></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<style>
  .sticky-topbar {
    width: 100%;
  }
  .top-bar.linetopbar {
    border-bottom: solid 1px #000000;
    background-color: #fff;
  }
  .top-bar.linetopbar .dropdown.menu {
    background-color: #fff;
  }
  .top-bar.linetopbar .top-bar-right .menu {
    background-color: #fff;
  }
</style>
