<!DOCTYPE html>
<html lang="en">
  <%- include ("./partials/head") %>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>สวนยายดีตาบูรณ์</title>

    <!-- Compressed CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css"
      integrity="sha256-ogmFxjqiTMnZhxCqVmcqTvjfe1Y/ec4WaRj/aQPvn+I="
      crossorigin="anonymous"
    />

    <!-- Compressed JavaScript -->
    <script
      src="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/js/foundation.min.js"
      integrity="sha256-pRF3zifJRA9jXGv++b06qwtSqX1byFQOLjqa2PTEb2o="
      crossorigin="anonymous"
    ></script>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Sarabun:wght@100;400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/index.css" />
  </head>

  <body>
    <header >
      <p
        style="
          font-size: 100px;
          font-family: 'Sarabun', sans-serif;
          color: #67632d;
          text-align: center;
        "
        ฃ
      >
        สวนยายดีตาบูรณ์
      </p>
    </header>
    <div class="grid-x grid-margin-x small-up-1 medium-up-2 large-up-4">
      <div class="cell">
        <div class="callout">
          <p>
            <img
              src="/picture/1129413.jpg"
              alt="image of a planet called Pegasi B"
            />
          </p>
          <p class="lead">ระบบแสงสว่าง</p>
          <p class="subheader">
            Find Earth-like planets life outside the Solar System
          </p>
        </div>
      </div>
      <div class="cell">
        <div class="callout">
          <p>
            <img
              src="/picture/4750272.jpg"
              alt="image of a planet called Pegasi B"
            />
          </p>
          <p class="lead">ระบบควบคุมน้ำ</p>
          <p class="subheader">
            Find Earth-like planets life outside the Solar System
          </p>
        </div>
      </div>
      <div class="cell">
        <div class="callout">
          <p>
            <img
              src="/picture/3205737.jpg"
              alt="image of a planet called Pegasi B"
            />
          </p>
          <p class="lead">กล้องวงจรปิด</p>
          <p class="subheader">
            Find Earth-like planets life outside the Solar System
          </p>
        </div>
      </div>
      <a class="cell" href="/report">
        <div class="callout">
          <p>
            <img
              src="/picture/5324972.jpg"
              alt="image of a planet called Pegasi B"
            />
          </p>
          <p class="lead">ระบบรายงานต่าง ๆ</p>
          <p class="subheader">
            Find Earth-like planets life outside the Solar System
          </p>
        </div>
      </a>
    </div>
  </body>
</html>
