.mainBtn {
  /*   height: 250px; */
  border-radius: 15px;
  border: 0.5px solid #707070;
  margin: 0.5em;
  background-repeat: no-repeat;
  background-size: cover;
}
.mainBtn.light {
  background-image: url("/picture/1129413.jpg");
}

.mainBtn.waterSyst {
  background-image: url("/picture/4750272.jpg");
}

.mainBtn.securCam {
  background-image: url("/picture/179993.jpg");
}

.mainBtn.toolRoom {
  background-image: url("/picture/834892.jpg");
}

