<html class="" lang="en">
  <head>
    <%- include ("../partials/head") %>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/motion-ui/1.2.3/motion-ui.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation-prototype.min.css"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css"
      rel="stylesheet"
      type="text/css"
    />
    <!-- optional CDN for Foundation Icons ^^ -->
    <meta class="foundation-mq" />
  </head>
  <body data-new-gr-c-s-check-loaded="14.1035.0" data-gr-ext-installed="">
    <!-- Info Banner For Announcements or Links -->
    

    <!-- Navigation -->
    <%- include ("../partials/header") %>
    <!-- /Navigation -->

    <br />
    <article class="grid-container">
      <div class="grid-x grid-margin-x">
        <div class="medium-7 large-6 cell">
          <h1>Close Your Eyes and Open Your Mind</h1>
          <p class="subheader">
            There is beauty in space, and it is orderly. There is no weather,
            and there is regularity. It is predictable. Everything in space
            obeys the laws of physics. If you know these laws, and obey them,
            space will treat you kindly.
          </p>
          <button class="button">Take a Tour</button>
          <button class="button">Start a free trial</button>
        </div>

        <div class="show-for-large large-3 cell">
          <img src="./picture/example/exp-800x600.png" alt="picture of space" />
        </div>

        <div class="medium-5 large-3 cell">
          <div class="callout secondary">
            <form>
              <div class="grid-x">
                <div class="small-12 cell">
                  <label
                    >Find Your Dream Planet
                    <input type="text" placeholder="Search destinations" />
                  </label>
                </div>
                <div class="small-12 cell">
                  <label
                    >Number of Moons
                    <input type="number" placeholder="Moons required" />
                  </label>
                  <button type="submit" class="button">Search Now!</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="">
        <hr />
      </div>

      <div class="">
        <p class="lead">Trending Planetary Destinations</p>
      </div>

      <div class="grid-x grid-margin-x small-up-1 medium-up-2 large-up-3">
        <div class="cell">
          <div class="callout">
            <p>Pegasi B</p>
            <p>
              <img
                src="./picture/example/exp-800x600.png"
                alt="image of a planet called Pegasi B"
              />
            </p>
            <p class="lead">Copernican Revolution caused an uproar</p>
            <p class="subheader">
              Find Earth-like planets life outside the Solar System
            </p>
          </div>
        </div>
        <div class="cell">
          <div class="callout">
            <p>Pegasi B</p>
            <p>
              <img
                src="./picture/example/exp-800x600.png"
                alt="image of a planet called Pegasi B"
              />
            </p>
            <p class="lead">Copernican Revolution caused an uproar</p>
            <p class="subheader">
              Find Earth-like planets life outside the Solar System
            </p>
          </div>
        </div>
        <div class="cell">
          <div class="callout">
            <p>Pegasi B</p>
            <p>
              <img
                src="./picture/example/exp-800x600.png"
                alt="image of a planet called Pegasi B"
              />
            </p>
            <p class="lead">Copernican Revolution caused an uproar</p>
            <p class="subheader">
              Find Earth-like planets life outside the Solar System
            </p>
          </div>
        </div>
        <div class="cell">
          <div class="callout">
            <p>Pegasi B</p>
            <p>
              <img
                src="./picture/example/exp-800x600.png"
                alt="image of a planet called Pegasi B"
              />
            </p>
            <p class="lead">Copernican Revolution caused an uproar</p>
            <p class="subheader">
              Find Earth-like planets life outside the Solar System
            </p>
          </div>
        </div>
        <div class="cell">
          <div class="callout">
            <p>Pegasi B</p>
            <p>
              <img
                src="./picture/example/exp-800x600.png"
                alt="image of a planet called Pegasi B"
              />
            </p>
            <p class="lead">Copernican Revolution caused an uproar</p>
            <p class="subheader">
              Find Earth-like planets life outside the Solar System
            </p>
          </div>
        </div>
        <div class="cell">
          <div class="callout">
            <p>Pegasi B</p>
            <p>
              <img
                src="./picture/example/exp-800x600.png"
                alt="image of a planet called Pegasi B"
              />
            </p>
            <p class="lead">Copernican Revolution caused an uproar</p>
            <p class="subheader">
              Find Earth-like planets life outside the Solar System
            </p>
          </div>
        </div>
      </div>

      <div class="">
        <a class="button hollow expanded">Load More</a>
      </div>
    </article>
    <footer>
      <div class="grid-x expanded callout secondary">
        <div class="small-6 large-3 cell">
          <p class="lead">Offices</p>
          <ul class="menu vertical">
            <li><a href="#">One</a></li>
            <li><a href="#">Two</a></li>
            <li><a href="#">Three</a></li>
            <li><a href="#">Four</a></li>
          </ul>
        </div>

        <div class="small-6 large-3 cell">
          <p class="lead">Solar Systems</p>
          <ul class="menu vertical">
            <li><a href="#">One</a></li>
            <li><a href="#">Two</a></li>
            <li><a href="#">Three</a></li>
            <li><a href="#">Four</a></li>
          </ul>
        </div>

        <div class="small-6 large-3 cell">
          <p class="lead">Contact</p>
          <ul class="menu vertical">
            <li>
              <a href="#"><i class="fi-social-twitter"></i> Twitter</a>
            </li>
            <li>
              <a href="#"><i class="fi-social-facebook"></i> Facebook</a>
            </li>
            <li>
              <a href="#"><i class="fi-social-instagram"></i> Instagram</a>
            </li>
            <li>
              <a href="#"><i class="fi-social-pinterest"></i> Pinterest</a>
            </li>
          </ul>
        </div>

        <div class="small-6 large-3 cell">
          <p class="lead">Offices</p>
          <ul class="menu vertical">
            <li><a href="#">One</a></li>
            <li><a href="#">Two</a></li>
            <li><a href="#">Three</a></li>
            <li><a href="#">Four</a></li>
          </ul>
        </div>
      </div>
      <div class="grid-x">
        <div class="medium-6 cell">
          <ul class="menu align-center">
            <li><a href="#">Legal</a></li>
            <li><a href="#">Partner</a></li>
            <li><a href="#">Explore</a></li>
          </ul>
        </div>

        <div class="medium-6 cell">
          <ul class="menu align-center">
            <li class="menu-text">Copyright 2018</li>
          </ul>
        </div>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/motion-ui/1.2.3/motion-ui.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
  <grammarly-desktop-integration
    data-grammarly-shadow-root="true"
  ></grammarly-desktop-integration>
</html>
